--extra-index-url https://download.pytorch.org/whl/cpu

numpy==1.26.4

fastapi
uvicorn
yt-dlp
ffmpeg-python
python-dotenv
openai-whisper
sentence-transformers
faiss-cpu
redis
rq
pydub
streamlit
groq

torch==2.2.2+cpu
torchvision==0.17.2+cpu
torchaudio==2.2.2+cpu
